@page "/statustypes/details/{id:int}"
@using TaskManager.BlazorUI.Contracts
@using TaskManager.BlazorUI.Models.WorkTaskStatusTypes

<h3>Status Type Details</h3>

<div class="row">
	<div class="col-md-4">

		@if(Model != null)
		{
			<table class="table">
				<thead>
					<tr>
						<th> Id </th>
						<th> Name </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td> @Model.Id </td>
						<td> @Model.Name </td>
					</tr>
				</tbody>
			</table>
			<div>
				<input type="button" value="Go Back" class="btn btn-outline-primary" onclick="@GoBack" />
			</div>
		}
		else if (!string.IsNullOrEmpty(Message))
		{
			<div class="alert alert-danger">
				@Message
			</div>
		}
		else
		{
			<p>Loading...</p>
		}
	</div>
</div>


